.person-details {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px 0;
}

.person {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.person-picture-container {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 15px;
}

.person-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0 6px;
}

.role {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.person-social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  background: black;
  padding: 5px;
  margin-top: 15px;
  flex-wrap: wrap;
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.person-social-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.person-social-link img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}

@media (width >= 900px) {
  .person-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: left;
  }

  .person {
    max-width: none;
  }

  .person-social-links {
    justify-content: center;
  }
}
