.recent-articles-authored div {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.recent-article-authored {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.recent-article-authored-picture img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.recent-article-authored-link-container {
  font-size: var(--heading-font-size-xs);
  margin-top: 5px;
}

.recent-article-authored-link-container a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.recent-article-authored-content {
  font-size: 0.875rem;
  text-transform: uppercase;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.recent-article-authored-content p {
  margin: 0;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .recent-article-authored {
    flex: 1 1 calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .recent-article-authored {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .recent-article-authored {
    flex: 1 1 100%;
  }
}

.recent-articles-authored {
  border-bottom: 2px solid lightgrey;
  padding-bottom: 30px;
}

.recent-article-authored:last-child {
  margin-right: 0;
}