.custom-banner {
    position: relative;
    width: 100%;
}

.banner-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(0 0 0 / 50%);
    padding: 10px;
    box-sizing: border-box;
}

.banner-title p {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.banner-image img {
    width: 100%;
    height: auto;
    display: block;
}