.custom-banner {
    position: relative;
    width: 100%;
}

.banner-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; /* Center align the text */
    color: white; /* Adjust text color as needed */
    background: rgba(0 0 0 / 50%); /* Modern color-function notation and alpha value notation */
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box;
}

.banner-title p {
    margin: 0; /* Remove default margin */
    font-size: 2em; /* Make the text bigger */
    font-weight: bold; /* Make the text bolder */
}

.banner-image img {
    width: 100%;
    height: auto;
    display: block;
}